body {
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  margin: 0;
  text-align: center;
}

header {
  padding: 40px 20px;
  background: #111;
}

h1 {
  font-size: 35px;
}

section {
  padding: 20px;
}

.product {
  background: #1a1a1a;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

.product h3 {
  color: white;
}

.product p {
  color: #ccc;
}

.whatsapp {
  display: inline-block;
  margin: 20px;
  padding: 15px 25px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.whatsapp:hover {
  background: #ccc;
}